<div class="form">
    <%= form_for(@question) do |f| %>
      <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2>Oops! <%= pluralize(@question.errors.count, "error") %> things went wrong.</h2>
          <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>
      <div class="field">
        <%= label_tag :start_time %>
        <%= date_select :itinerary, :start_time, :default => DateTime.now, :ampm => true %> 
      </div>
      <div class="field">
        <%= label_tag :end_time %>
        <%= date_select :itinerary, :end_time, :default => DateTime.now, :ampm => true %> 
      </div>

      <div class="actions">
        <%= f.submit "Post Your Question", :class => "button inset-brown" %>
      </div>
    <% end %>
</div>
