<div id="wrapper-content">
  <%= link_to "<< Back", "/", {:class => "back"} %>
  <div id="inner-content" class="itinerary white">
    <h2><%= @question.title %></h2>
    <div class="hidden">
      <span id="start_date"><%= @question.itinerary.start_time.to_s %></span>
      <span id="end_date"><%= @question.itinerary.end_time.to_s %></span>
    </div>
    <div class="meta">
      <span class="author">Author: <%= @question.author.name %></span>
      <span class="contributors">Contributor count: 0 </span>
    </div>
    <div class="tags">
    </div>
    <div class="vote">
    </div>
    <div class="description">
      <%= @question.body %>
    </div>
	  <span id="itinerary_id" style="display:none"><%=@itinerary.id%></span>
    <div id="calendar"></div>
    <div id="under">
      <div id="add-event" class="add">
        <h2>Know the area? Help them out!</h2>
      </div>
      <div id="add-comment" class="add">
        <h2>Add a comment</h2>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
