<% if event_data.length == 0 and attraction_data.length == 0 %>
    No results found.
<% end %>

<% for event in event_data %>
    <div id="event-<%= event.id %>" class="event">
        <div class="event-thumbnail"></div>
        <div class="event-information">
            <span class="name"><%= event.name %></span>
            <span class="distance">X miles away (X-ing distance)</span> 
            <span class="show-more"><a href="#">[show me more]</a></span>
            <div class="more">This is more</div>
            <div class="add-event"><a id="<%= event.id %>" href="#">[ADD]</a></div>
        </div>
        <div class="clear"></div>
    </div>
<% end %>

<% for attraction in attraction_data %>
    <div id="attraction-<%= attraction["id"] %>" class="event">
		<div class="event-thumbnail">
            <%= image_tag attraction["photo_url"] %>
        </div>
        <div class="event-information">
            <span class="name"><%= attraction["name"] %></span>
            <span class="distance">X miles away (X-ing distance)</span> 
            <span class="show-more"><a href="#">[show me more]</a></span>
            <div class="more">This is more</div>
            <div class="add-event"><a href="#">[ADD]</a></div>
        </div>
        <div class="clear"></div>
	</div>
<% end %>
