<% if all.length == 0 %>
    No results found.
<% end %>

<% for item in all %>
    <% type = item["type"] %>
    <% is_event = type == "event" %>
    <% id = is_event ? item.id : item["id"] %>
    <% name = is_event ? item.name : item["name"] %> 
    <% description = is_event ? item.description : item["description"] %>
    <% photo_url = is_event ? "" : item["photo_url"] %>

    <div id="event-<%= id %>" class="event">
        <div class="event-thumbnail">
            <%= image_tag photo_url %>
        </div>
        <div class="event-information">
            <span class="name"><%= name %></span><% if type == "meal" %><span class="rating"><%= item["avg_rating"] %></span><% end %>
            <span class="distance">X miles away (X-ing distance)</span> 
            <span class="show-more clickable" id="more-<%= id %>">[SHOW ME MORE]</span>
            <span class="show-less clickable" id="less-<%= id %>">[SHOW ME LESS]</span>
            <div class="more" id="description-<%= id %>"><%= description %></div>
            <div class="add-event clickable" id="add-<%= type %>-<%= id %>" class="inset-teal">Add to Itinerary</div>
        </div>
        <div class="clear"></div>
    </div>
<% end %>
