<div class="place-header">
    <h1><%= place.full_name %></h1>
    <div id="place-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    <div id="place-photos">
    </div>
</div>

<div class="header inset-teal" id="attractions-header"><%= image_tag "icons/attraction_white_icon.png", :class => "icon" %> Events and Attractions</div>
<div id="attractions" class="place-content">
    <%= image_tag "loader.gif", :class => "loader" %> Hold up, we're loading in the fresh data for you.
</div>
<div class="header inset-yellow" id="meals-header"><%= image_tag "icons/food_white_icon.png", :class => "icon" %> Meals</div>
<div id="meals" class="place-content">
    <%= image_tag "loader.gif", :class => "loader" %> Coming soon!
</div>
