<p id="notice"><%= notice %></p>
<h1><%=@user.name%></h1>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Facebook ID:</b>
  <%= @user.facebook_id %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>


<p>
  <b>Friends:</b>
  <%= @user.friends.map{|f| f.name}.join(", ") %>
</p>

<p>
  <b>Friend Requests:</b>
  <%= @user.pending_friends.map{|f| f.name}.join(", ") %>
</p>

<h2>Your Itineraries</h2>
<% @itineraries.each do |itinerary| %>
  <%= link_to(itinerary.name, itinerary) %>
<%end%>