
<!--         <span id="userbar-name">Welcome, <%= (link_to current_user.name, :dashboard) %></span>
				<% if current_user.is_guest?%>
        <span id="userbar-options"><%= link_to "Log In", login_path %> | <%= link_to "Register", register_path %></span>
				<span id="userbar-facebook"><%= link_to (image_tag "fbconnect.gif"), :facebook_login %></span>
				<%else%>
				<span id="userbar-logout"><%= link_to "logout", :logout %></span>
				<%end%> -->

	      <span id="userbar-name">Welcome, <%= current_user.name %></span>
	      <div id="user-actions">
	        <% if current_user.is_guest? %>
	          <span id="login"><%= link_to "Log In", login_path %> | <%= link_to "Register", register_path %></span>
	        <% else %>
	          <span id="settings">Settings</span>
	          <span id="logout"><%= link_to "logout", :logout %></span>
	        <% end %>
	      </div>