<div id="header">
    <div id="logo">
        <%= link_to(image_tag("kakule.png"), root_url) %>
    </div>
    <div id="userbar">
        <!-- <fb:login-button show-faces="true" width="200" max-rows="1" perms="offline_access"></fb:login-button> -->
        <%= "Welcome, " + current_user.name if current_user %>
    </div>
    <div class="clear"></div>
</div>

</div>
<div id="content">
    <div id="toppanel">
        <div id="calendar">
            <%= render "calendar" %>
        </div>
        <div id="right">
            <h1 id="itinerary-title"> 
                <span id="itinerary-name"><%= @itinerary.name %></span><span id="itinerary-id" style="display: none"><%= @itinerary.id %></span><span class="icon" id="edit-icon"></span>
            </h1>
            <div id="addpanel">
                <%= render "addpanel" %>
            </div>
            <div id="savepanel">
                <%= render "savepanel" %>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="bottompanel">
    </div>
    
</div>
