<div id="header">
    <div id="logo">
        <%= link_to(image_tag("kakule.png"), root_url) %>
    </div>
</div>

<%= render :partial => "session"%>

</div>
<div id="content">
    <div id="toppanel">
        <div id="calendar">
            <%= render "calendar" %>
        </div>
        <div id="right">
            <h1 id="itinerary-title"> 
                <span id="itinerary-name"><%= @itinerary.name %></span><span id="itinerary-id" style="display: none"><%= @itinerary.id %></span>
            </h1>
            <div id="addpanel">
                <%= render "addpanel" %>
            </div>
            <div id="savepanel">
                <%= render "savepanel" %>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="bottompanel">
    </div>
    
</div>
