<div id="header">
    <div id="logo">
        <%= link_to(image_tag("kakule.png"), root_url) %>
    </div>
    <div id="userbar">
        <!-- <fb:login-button show-faces="true" width="200" max-rows="1" perms="offline_access"></fb:login-button> -->
        <%= "Welcome, " + current_user.name if current_user %>
    </div>
    <div class="clear"></div>
</div>
<div id="left">
    <div id="search">
        <form class="search_form">
            <input id="location-search" type="text" placeholder="Search for a location ex. San Francisco" autocomplete="off" autofocus></input>
        </form>
    </div>
    <div id="content">
        <div id="landing">
            <h1>New to Kakule?</h1>
            <p style="margin-top: 1em;">Don't worry, we've got your back - we're dedicated to making your travel planning experience ridiculously easy. Just select days, add any events and attractions you want to hit up, and we'll take care of all the grunt work for you.</p>

            <h2 style="margin-top: 1.5em;">Check out what we've got in store for you:</h2>
            <div id="landing-options">
                <div id="landing-places" class="landing_icon inset-pink">
                    <%= image_tag "icons/places_large_white_icon.png" %>
                </div>
                <div id="landing-attractions" class="landing_icon inset-teal">
                    <%= image_tag "icons/attractions_large_white_icon.png" %>
                </div>
                <div id="landing-meals" class="landing_icon inset-yellow">
                    <%= image_tag "icons/meals_large_white_icon.png" %>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="right">
    <div id="right-calendar">
        <h1 id="itinerary-title"> 
            <span id="itinerary-name" class="itinerary-name-icon"><%= @itinerary.name %></span><span id="itinerary-id" style="display: none"><%= @itinerary.id %></span>
        </h1>
        <div id="calendar">
            <%= render "calendar" %>
        </div>
    </div>
    <div id="itinerary-day-wrapper">
        <%= render "day" %>
    </div>
    <div id="savepanel">
        <%= render "savepanel" %>
    </div>
</div>
    <div class="clear"></div>
</div>
