<p id="notice"><%= notice %></p>

<p>
  <b>Eventful:</b>
  <%= @event.eventful_id %>
</p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Venue:</b>
  <%= @event.venue %>
</p>

<p>
  <b>Street:</b>
  <%= @event.street %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>

<p>
  <b>Postal:</b>
  <%= @event.postal %>
</p>

<p>
  <b>Country:</b>
  <%= @event.country %>
</p>

<p>
  <b>Latitute:</b>
  <%= @event.latitute %>
</p>

<p>
  <b>Longitude:</b>
  <%= @event.longitude %>
</p>

<p>
  <b>Picture url:</b>
  <%= @event.picture_url %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
